{% extends "main/base.html" %}
{% block title%}
Главная страница
{% endblock%}
{% block content%}
<section class="hero">
            <div class="container">
                <span class="hero-badge">
                    Быстрый подбор комплектующих
                </span>
                <h1 class="hero-title fw-bold">Собери ПК под задачи, бюджет и реальные цены</h1>
                <p class="hero-subtitle mb-4">
                    Сюда что то дописать.
                </p>
                <div class="d-flex flex-wrap gap-2">
                    <a href="#" class="btn btn-info fw-semibold">Создать сборку</a>
                    <a href="#" class="btn btn-outline-light">Как это работает</a>
                </div>
            </div>
        </section>

        <section class="container pb-2">
            <div class="row g-3 justify-content-center features-row">
                <div class="col-12 col-md-6 col-lg-4">
                    <article class="main-card">
                        <h5>Умный подбор комплектующих</h5>
                        <!-- надо бы написать что то -->
                        <p class="text-secondary mb-0">...</p>
                    </article>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <article class="main-card">
                        <h5>Прогноз производительности в актуальных приложениях</h5>
                        <p class="text-secondary mb-0">...</p>
                    </article>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <article class="main-card">
                        <h5>Поддержка</h5>
                        <p class="text-secondary mb-0">...</p>
                    </article>
                </div>
            </div>
        </section>

        <section class="container">
            <div class="content-shell">
                <h2 class="h3">Контентная область(smt about)</h2>
            </div>
        </section>
{% endblock %}